<!--This block imports needed stuff to the page -->
{{left_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>

{{if lesson:}}
<p class="lead">
    {{=T(lesson.topic)}}
    {{if auth.is_logged_in():}}
        {{=A(SPAN(_class="glyphicon glyphicon-floppy-disk"), callback=URL('default', 'savetobookmarks?type=learn&id=' + request.args[1]))}}

        {{if (2 in auth.user_groups):}}
            {{=A(SPAN(_class="glyphicon glyphicon-pencil"), _href=URL('default', 'create/lesson/' + request.args[1]))}}
        {{pass}}
    {{pass}}
</p>
<h5>Language: <small>{{=lesson.codelanguage}}</small></h5>

{{=XML(lesson.description, sanitize=False)}}

{{pass}}
{{pass}}

{{block left_sidebar}}
<div class="panel panel-info">

    <div class="panel-heading">
        <h3 class="panel-title">{{=message}}</h3>
    </div>

    <ul class="list-group">
       {{for row in rows:}}
            <li class="list-group-item">{{=A(T(str(row.topic)), _href=URL('default', 'learn', args=[request.args[0], str(row.id)]))}}</li>
        {{pass}}
    </ul>

</div>
{{end}}





